{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butterfly Bootstrap Template-Index</title>
    <link rel="icon" href="{% static 'assets/img/favicon.png' %}">
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>            

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">    

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <link href="{% static  'assets/css/glightbox.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static  'assets/css/style.css' %}">
    <!-- <link href="/your_path_to_version_6_files/css/solid.css" rel="stylesheet"> -->
    <!-- <link href="/your_path_to_version_6_files/css/fontawesome.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="https://icons-for-free.com"> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i"> -->
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  -->
</head>
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">
    <header >
        <section >
            <div >
                <nav class="navbar navbar-expand-lg nav">
                    <div class="butter">
                        <!-- <img src="../Assets/Imges/butterfly.png" > -->
                        <img src="{% static  'assets/img/logo.png' %}" >
                    </div>

                    <button class=" navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarScroll">
                      <span class=" navbar-toggler-icon"></span>
                  </button>
                
                 <div class="menubar collapse navbar-collapse" id="navbarScroll">   
                  <ul class="navbar-nav mx-auto navbar-nav-scroll" style="--bs-scroll-height:100px;">
                    <li class="nav-item"> <a href="#Home" class=" nav-link active">HOME</a> </li>
                    <li class="nav-item"> <a href="#ABOUT" class=" nav-link">ABOUT</a> </li>
                    <li class="nav-item"> <a href="#SERVICES" class=" nav-link">SERVICES</a> </li>
                    <li class="nav-item"> <a href="#PORTFOLIO" class=" nav-link">PORTFOLIO</a >  </li>
                    <li class="nav-item"> <a href="#TEAM" class=" nav-link">TEAM</a > </li> <li> 
                    <li class="nav-item dropdown"> <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">DROP DOWN  </a >
                        
                        <ul class="dropdown-menu">
                            <li><a href="#" class="dropdown-item">Drop Down1</a></li>
                            <li class="dropend"><a href="#" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Deep Drop Down</a>
                            
                               <ul class="dropdown-menu">
                                  <li><a href="#" class="dropdown-item">Deep Drop Down1</a></li>
                                  <li><a href="#" class="dropdown-item">Deep Drop Down2</a></li>
                                  <li><a href="#" class="dropdown-item">Deep Drop Down3</a></li>
                                  <li><a href="#" class="dropdown-item">Deep Drop Down4</a></li>
                                  <li><a href="#" class="dropdown-item">Deep Drop Down5</a></li>
                               </ul>
                            </li>

                            <li><a href="#" class="dropdown-item">Drop Down2</a></li>
                            <li><a href="#" class="dropdown-item">Drop Down3</a></li>
                            <li><a href="#" class="dropdown-item">Drop Down4</a></li>
                        </ul>
                    </li>

                    <li> <a href="#CONTACT" class="nav-link">CONTACT</a > </li>
                  </ul>
                 </div>
                
                
                </nav>
            </div>
        </section>
    </header> 

    <main>
        <section id="Home">
          <div class=" main2">
           <div class=" section2">

              
             <!-- <div>
                <img src="../Assets/Imges/BD.png" style="float: right;" width="%">
               </div> -->

              <div class="get" >
                
                    <b>CREATING WEBSITES THAT <br>
                    MAKE YOU STOP & STARE </b> <br>
              

                
                <P>
                    Accusantum quam, aliquam ultricies eget temper id, aliquam <br>
                    eget nibt et. Maecen aliiquam, risus at semper. proin iacuolis <br>
                    Rerum id culpa deserunt nobis velit animi dolore placeat faci.
                    
                 </P>
        
                <p>
                   <button class="butt"> 
                    <a href="#">GET STARTED</a>
                   </button>
                 </p>
              </div>
          
             <div >
              <!-- <img src="../Assets/Imges/BD.png"  > -->
              <img src="{% static 'assets/img/hero-img.png' %}"  >
             </div>

         </div>
          </div> 
       </section>
    

      <section id="ABOUT">
        <div class=" section3">
          <div class="divlorem">

            <div class="loremhead">
                <b>Lorem Ipsum Lorem Ipsum borim bounj sasa trgds rredsf est <br>
                fedsrw notice.</b>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elier <br>
                    non nihil provident, excepturi, minus facere deserunt error optio molestiae in!</p>
            </div>

           <div class="pdiv">

             <div class="bp">
                <b>Lorem Ipsum </b> 

                <!-- <div>
                <i class="bx bx-fingerprint"></i> </div>  -->

               <p>
                olor deleniti repellat,
                 ea esse molestias voluptatem error. <br>
                 inventore adipisci officia optio id distinctio, eaque nobis doloribus?</p>

                 <div class="fox">
                    <i class="bx bx-fingerprint"></i> </div>
             </div>

             <div class="bp">
                <b>Lorem Ipsum</b> 

               <!-- <div>
                <i class="bx bx-gift"></i> </div> -->

              <p>
                Lorm, corporis earum recusandae ipsam consequuntur <br>
                  voluptatem ipsa nobis sunt ipsum dolor perferendis!</p>

                  <div class="fox">
                    <i class="bx bx-gift"></i> </div>
             </div>

             <div class="bp">
                <b>Lorem ipsum</b> 

              <!-- <div>
                <i class="bx bx-atom"></i> </div> -->
                
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicitr <br>
                 Alias placeat voluptatum corporis ipsum repellat? </p>

                 <div class="fox">
                    <i class="bx bx-atom"></i> </div>
             </div>

          </div> 
        </div> 

            <div class="videoplay">

               <div class="pulse">

                 <a  href="https://www.youtube.com/watch?v=jDDaplaOz7Q"> 
                     <i class="fa fa-play"></i>
                  </a>

               </div> 

                 <img  src="{% static 'assets/img/about.jpg' %}"> 
            </div >

     </div>
    

      <section >
    
        <div class="section4">
    
            <div class="achieved">
                <b>WHAT WE HAVE ACHIEVED SO FAR</b> <br>
               <p> lusto et labore modi qui saplente xpedita tempora et aut non-ipsum consequatur iilo </p>
            </div>

           <div class="achieve">

            <div class="client">
                <b class="num" data-val="400">333</b> <br>
                Clients
            </div>

            <div class="project">
                <b class="num" data-val="340">444</b> <br>
                Projects
            </div>

            <div class="support">
                <b class="num" data-val="225">5555</b> <br>
                Hours Of Support
            </div>

            <div class="worker">
                <b class="num" data-val="280">20</b> <br>
                Hard Workers
            </div>

            </div>
          
        </div>
       
      </section>

      <section>
        <div class="section5">
           
          <div class="firstfour">

            <div class="memo">
                <!-- <img src="../Assets/Imges/client-1.png"> -->
                <img src="{% static 'assets/img/clients/client-1.png' %}">
            </div>

            <div class="memo">
                <!-- <img src="../Assets/Imges/client-2.png"> -->
                <img src="{% static 'assets/img/clients/client-2.png' %}">
            </div>

            <div class="memo">
                <!-- <img src="../Assets/Imges/client-3.png"> -->
                <img src="{% static 'assets/img/clients/client-3.png' %}">
            </div>

            <div  class="memo">
                <!-- <img src="../Assets/Imges/client-4.png"> -->
                <img src="{% static 'assets/img/clients/client-4.png' %}">
            </div>

          </div> 

           <div class="secondthree">

            <div class="memo2">
                <!-- <img src="../Assets/Imges/client-5.png"> -->
                <img src="{% static 'assets/img/clients/client-5.png' %}">
            </div>

            <div class="memo2">
                <!-- <img src="../Assets/Imges/client-6.png"> -->
                <img src="{% static 'assets/img/clients/client-6.png' %}">
            </div>

            <div class="memo2">
                <!-- <img src="../Assets/Imges/client-7.png"> -->
                <img src="{% static 'assets/img/clients/client-7.png' %}" >
            </div>

            <div class="memo2">
                <!-- <img src="../Assets/Imges/client-8.png"> -->
                <img src="{% static 'assets/img/clients/client-8.png' %}">
            </div>

           </div> 

        </div>
      </section>

      </section>  

      <section id="SERVICES" > 
        <div class=" section6">
            
            <div class="service">
              <b>  SERVICES </b> <br>

               <p>  Lorem r corrupti sed voluptates omnis reiciendis consequuntur blanditiis perferendis  <br>
                 distinctio laborum deleniti totam. Officia culpa autem in nam. </p>
            </div>

         

         <div class="lorem1">

            <div class="loremone">
               <a href="#"><b> Lorem ipsum </b></a> <br>
                
                   <div class="cashstack">  
                    <i class="bi bi-cash-stack"></i> 
                    </div> 

                <p>
                 sit amet consectetur latrum deletti <br>
                 kkkkkkm sequi corpor latrum deletti <br>
                 id mollitia sapiente latrum deletti <br>
                 odio facere latrum deletti.</p> 
            </div>
          
            <div class="loremtwo">
               <a href="#"><b> Lorem ipsum </b></a> <br>
               
                 <div class="calender4">
                     <i class="bi bi-calendar4-week"></i>
                 </div>

                <p>
                 amet consectetur latrum deletti <br>
                 quam sapiente, latrum heum deletti <br>
                 modi eum corrup kiss <br>
                 architecto corrupt kiss. </p>
            </div>
          
           
            <div class="loremthree">
               <a href="#"><b> Lorem ipsum</b></a> <br> 
               
                <div class="chattext">
                    <i class="bi bi-chat-text"></i>
                </div>

                <p>
                dolor sit amet co latrum deletti <br>
                Sunt consequuntur offic latrum deletti <br>
                corporis ipsam. Volupt latrum <br>
                udiandae deletti latrum . </p>
            </div>

          </div> 
          
          <div class="lorem2">
      
            <div class="subloremone">
               <a href="#"><b> Lorem ipsum </b></a> <br>

               <div class="card">
                <i class="bi bi-credit-card-2-front"></i>
               </div>

               <p> sit amet consectetur latrum deletti  <br>
                adipisicing elit. Harum, latrum <br> 
                adipisicing elit. Harum, latrum <br> 
                in asperna latrum deletti. </p>
            </div>

            <div class="subloremtwo">
               <a href="#"><b> Lorem ipsum </b></a> <br>

               <div class="globe">
                <i class="bi bi-globe"></i>
               </div>

               <p> sit amet consectetur latrum deletti . <br>
                   illo maiores fuga, lattrum deletti <br>
                   adipisicing elit. Harum, latrum <br> 
                   expedita mairoe fuga ! </p>
            </div>

            <div class="subloremthree">
              <a href="#"><b> Lorem ipsum </b></a> <br>

              <div class="clock">
                <i class="bi bi-clock"></i>
              </div>

                <p> sit amet consectetur .<br>
                   Porro unde impedit temporibu<br>
                   voluptatum possimus similique <br>
                   adipisicing elit. Harum, latrum latrum<br> 
                   </p>
            </div>
         
          </div> 
        </div>
      </section>

      <section id="PORTFOLIO">
        <div class="section7">

            <div class="portfolio">
               <b> PORTFOLIO </b>
            </div>

            <div class="portfoliolorem">  
               
                Lorem ipsum, dolor sit amet Perspiciatis laborum quas magni eius atquead ratione consectetur adipisicing elit. aperiam culpa, optio iure<br> 
                 <p>        
                  laborum quas magni eius atque. laborum quas magni eius atquelaborum quas magni eius atque</p>  
            </div>


              <div class="portfoliolink">
                <!-- <ul>
                    <li><a href="#">All</a></li>
                    <li><a href="#">Card</a></li>
                    <li><a href="#apple">App</a></li>
                    <li><a href="#">Web</a></li>
                </ul> -->

                <ul>
                  <li class="list active" data-filter="all"><a >All</a></li>
                  <li class="list" data-filter="card"><a >Card</a></li>
                  <li class="list" data-filter="app"><a>App</a></li>
                  <li class="list" data-filter="web"><a >Web</a></li>
                </ul>
              </div>

          

            <div class="portfolioimg1">

               <div class="portfolio-1" data-items="app"> 

                 <img src="{% static 'assets/img/portfolio/portfolio-1.jpg' %}">

                   <div class="overlay">

                     <div class=" overlaytext">
                        <b>APP 1</b>
                         <p>APP</p> 

                         <div class="portfolio-icon">
                          <a href="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" data-gallery="myGallery" class="portfolio-lightbox" title="App 1"><i class=" bx bx-plus"></i></a>

                          <!-- <i class=" bx bx-plus" title="App 1" onclick="openModal(); currentSlide(1)" id="hover-shadow"></i> -->
                           
                          <a href="portfolio-details.html" title="More Details"> <i class="bx bx-link" ></i></a>
                         </div>

                     </div>
    
                  </div>
                    <!-- zoom and slider -->
                  <!-- <div class="img-view"></div>

                  <div class="img-next">
                      <div id="prev-btn"></div>
                      <div id="next-btn"></div> 
                  </div> -->
                     <!-- zoom and slider ends -->
                  
             </div> 

             
             <div class="portfolio-1" data-items="app"> 

                <img src="{% static 'assets/img/portfolio/portfolio-2.jpg' %}">

                <div class="overlay">

                    <div class=" overlaytex">
                       <b>App 3</b>
                        <p>App</p> 

                        <div class="portfolio-icon">
                          <a href="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" data-gallery="myGallery" class="portfolio-lightbox" title="App 3"><i class=" bx bx-plus"></i></a>

                          <!-- <i class=" bx bx-plus" title="App 1" onclick="openModal(); currentSlide(1)" id="hover-shadow"></i> -->
                           
                           <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                         </div>

                    </div>
   
                 </div>

             </div>

             <div class="portfolio-1" data-items="app"> 

                <img src="{% static 'assets/img/portfolio/portfolio-3.jpg' %}">

                <div class="overlay">

                    <div class=" overlayte">
                       <b>APP 2</b>
                        <p>APP</p> 

                        <div class="portfolio-icon">
                          <a href="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" data-gallery="myGallery" class="portfolio-lightbox" title="App 2"><i class=" bx bx-plus"></i></a>

                          <!-- <i class=" bx bx-plus" title="App 1" onclick="openModal(); currentSlide(1)" id="hover-shadow"></i> -->
                           
                           <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                         </div>

                    </div>
   
                 </div>

             </div> 

             <!-- <div class="overlay">

                <div class="overlaytext">
                    <b>APP 1</b>
                     <p>App</p> 
                     <i class="bx bx-plus"></i>
                     <i class="bx bx-link"></i>
                </div>

             </div> -->

              </div>

             <div class="portfolioimg1" >

              <div class="portfolio-1" data-items="card">

                <img src="{% static 'assets/img/portfolio/portfolio-4.jpg' %}">

                <div class="overlay">

                    <div class="overlaytext">
                       <b>Card 2</b>
                        <p>CARD</p> 

                        <div class="portfolio-icon">
                          <a href="{% static 'assets/img/portfolio/portfolio-4.jpg' %}" data-gallery="myGallery" class="portfolio-lightbox" title="Card 2"><i class=" bx bx-plus"></i></a>

                          <!-- <i class=" bx bx-plus" title="App 1" onclick="openModal(); currentSlide(1)" id="hover-shadow"></i> -->
                           
                           <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                         </div>

                    </div>
   
                 </div>

              </div>

              <div  class="portfolio-1" data-items="card">

                <img src="{% static 'assets/img/portfolio/portfolio-5.jpg' %}">

                <div class="overlay">

                    <div class="overlaytex">
                       <b>Card 1</b>
                        <p>CARD</p> 

                        <div class="portfolio-icon">
                          <a href="{% static 'assets/img/portfolio/portfolio-5.jpg' %}" data-gallery="myGallery" class="portfolio-lightbox" title="Card 1"><i class=" bx bx-plus"></i></a>

                          <!-- <i class=" bx bx-plus" title="App 1" onclick="openModal(); currentSlide(1)" id="hover-shadow"></i> -->
                           
                           <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                         </div>

                    </div>
   
                 </div>

              </div>

              <div class="portfolio-1" data-items="card">

                <img src="{% static 'assets/img/portfolio/portfolio-6.jpg' %}">

                <div class="overlay">

                    <div class="overlayte">
                       <b>card 3</b>
                        <p>CARD</p> 

                        <div class="portfolio-icon">
                          <a href="{% static 'assets/img/portfolio/portfolio-6.jpg' %}" data-gallery="myGallery" class="portfolio-lightbox" title="Card 3"><i class=" bx bx-plus"></i></a>

                          <!-- <i class=" bx bx-plus" title="App 1" onclick="openModal(); currentSlide(1)" id="hover-shadow"></i> -->
                           
                           <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                         </div>

                    </div>
   
                 </div>
                 
              </div>

             </div> 

             <div class="portfolioimg1" >

                <div class="portfolio-1" data-items="web">
  
                  <img src="{% static 'assets/img/portfolio/portfolio-7.jpg' %}">
  
                  <div class="overlay">
  
                      <div class="overlaytext">
                         <b>Web 1</b>
                          <p>WEB</p> 

                          <div class="portfolio-icon">
                            <a href="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" data-gallery="myGallery" class="portfolio-lightbox" title="Web 1"><i class=" bx bx-plus"></i></a>
  
                            <!-- <i class=" bx bx-plus" title="App 1" onclick="openModal(); currentSlide(1)" id="hover-shadow"></i> -->
                             
                             <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                           </div>

                      </div>
     
                   </div>
  
                </div>
  
                <div  class="portfolio-1" data-items="web">
  
                  <img src="{% static 'assets/img/portfolio/portfolio-8.jpg' %}">
  
                  <div class="overlay">
  
                      <div class="overlaytex">
                         <b>Web 3</b>
                          <p>WEB</p> 
                          <div class="portfolio-icon">

                            <a href="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" data-gallery="myGallery" class="portfolio-lightbox" title="Web 3"><i class=" bx bx-plus"></i></a>
  
                            <!-- <i class=" bx bx-plus" title="App 1" onclick="openModal(); currentSlide(1)" id="hover-shadow"></i> -->
                             
                             <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                           </div>

                      </div>
     
                   </div>
  
                </div>
  
                <div class="portfolio-1" data-items="web">
  
                  <img src="{% static 'assets/img/portfolio/portfolio-9.jpg' %}">
                  
                  <div class="overlay">
  
                      <div class="overlayte">
                         <b>Web 3</b>
                          <p>WEB</p>

                          <div class="portfolio-icon">
                            <a href="{% static 'assets/img/portfolio/portfolio-9.jpg' %}" data-gallery="myGallery" class="portfolio-lightbox" title="Web 3"><i class=" bx bx-plus"></i></a>
  
                            <!-- <i class=" bx bx-plus" title="App 1" onclick="openModal(); currentSlide(1)" id="hover-shadow"></i> -->
                             
                             <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                           </div>

                      </div>
     
                   </div>
                   
                </div>

                <!-- the modal/lightbox -->
                <!-- <div id="myModal" class="modal">
                   <span class="close cursor" onclick="closeModal()">&times</span>
                </div> -->

                <!-- Next and Prev buttons -->
                <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a> -->
                
             </div> 
        </div>
    

      <section>
       <div class=" section8">

         <!-- <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-bs-target="#myCarousel" data-slide-to="1"></li>
            <li data-bs-target="#myCarousel" data-slide-to="2"></li>
            <li data-bs-target="#myCarousel" data-slide-to="3"></li>
            <li data-bs-target="#myCarousel" data-slide-to="4"></li>
         </ol> -->

         <div class="myslides  goodman">
              <input type="radio" name="radio-btn" id="radio1">
              <input type="radio" name="radio-btn" id="radio2">
              <input type="radio" name="radio-btn" id="radio3">
              <input type="radio" name="radio-btn" id="radio4">
              <input type="radio" name="radio-btn" id="radio5">

             <div class="slided first saul">
                 <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" >
                 <!-- <img src="assets/img/gallery/gallery-1.jpg" alt=""> -->

                 <!-- <h3>  Saul Goodman </h3><br>
                 <p> Ceo & Founder </p> -->
             

                 <div class=" dolor">

                    <h3>  Saul Goodman </h3><br>
                    <p> Ceo & Founder </p> <br>

                 <!-- <i class="bx-pull-left bx bxs-quote-alt-left bx-lg"></i> -->

                   
                     <i class="fa fa-quote-left fa-lg" id="se">
                      Lorem ipsum dolor sit amet consecelit. Asperiores error laudantium accusamus
                      enim aut doloremque perferendis et dolo 
                     </i>
                   
                     <!-- Lorem ipsum dolor sit amet consecelit. Asperiores error laudantium accusamus
                     enim aut doloremque perferendis et dolo  -->
                    <br>
                   <span>  
                     res tenetur dolor! Suscipit est error vitae iste ullam ratione eius quibusdam voluptates?
                     <i class="fa fa-quote-right fa-lg"></i>
                   </span>

                 </div>  
                
             </div>

             <div class="slided saul">
                <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}">
                <!-- <img src="assets/img/gallery/gallery-2.jpg" alt=""> -->

                <!-- <h3>  Saul Goodman </h3><br>
                <p> Ceo & Founder </p> -->
            

                <div class=" dolor">

                   <h3>  Sarah Wilsson </h3><br>
                   <p> Designer </p>

                <!-- <i class="bx-pull-left bx bxs-quote-alt-left bx-lg"></i> -->

                <i class="fa fa-quote-left fa-lg" id="se">
                  Lorem ipsum dolor sit amet consecelit. Asperiores error laudantium accusamus
                  enim aut doloremque perferendis et dolo 
                 </i>
               
                 <!-- Lorem ipsum dolor sit amet consecelit. Asperiores error laudantium accusamus
                 enim aut doloremque perferendis et dolo  -->
                <br>
               <span>  
                 res tenetur dolor! Suscipit est error vitae iste ullam ratione eius quibusdam voluptates?
                 <i class="fa fa-quote-right fa-lg"></i>
               </span>


                </div>  
               
             </div>

             <div class="slided  saul">
                <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %} ">
                <!-- <img src="assets/img/gallery/gallery-3.jpg" alt="" > -->

                <!-- <h3>  Saul Goodman </h3><br>
                <p> Ceo & Founder </p> -->
            

                <div class=" dolor">

                   <h3>  Jena Karlis </h3><br>
                   <p> Store Owner </p>

                <!-- <i class="bx-pull-left bx bxs-quote-alt-left bx-lg"></i> -->

                <i class="fa fa-quote-left fa-lg" id="se">
                  Lorem ipsum dolor sit amet consecelit. Asperiores error laudantium accusamus
                  enim aut doloremque perferendis et dolo 
                 </i>
               
                 <!-- Lorem ipsum dolor sit amet consecelit. Asperiores error laudantium accusamus
                 enim aut doloremque perferendis et dolo  -->
                <br>
               <span>  
                 res tenetur dolor! Suscipit est error vitae iste ullam ratione eius quibusdam voluptates?
                 <i class="fa fa-quote-right fa-lg"></i>
               </span>

                </div>  
               
             </div>

             <div class="slided saul">
                <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}">
                <!-- <img src="assets/img/gallery/gallery-4.jpg" alt="" > -->

                <!-- <h3>  Saul Goodman </h3><br>
                <p> Ceo & Founder </p> -->
            

                <div class=" dolor">

                   <h3>  Matt Brandon  </h3><br>
                   <p> Freelancer </p>

                <!-- <i class="bx-pull-left bx bxs-quote-alt-left bx-lg"></i> -->

                  <!-- <i class="fa fa-quote-left fa-lg"></i>
                   Lorem ipsum dolor sit amet consecelit. Asperiores error laudantium accusamus
                   enim aut doloremque perferendis et dolo <br>
                  <p> res tenetur dolor! Suscipit est error vitae iste ullam ratione eius quibusdam voluptates?
                    <i class="fa fa-quote-right fa-lg"></i>
                  </p> -->

                  <i class="fa fa-quote-left fa-lg" id="se">
                    Lorem ipsum dolor sit amet consecelit. Asperiores error laudantium accusamus
                    enim aut doloremque perferendis et dolo 
                   </i>
                 
                   <!-- Lorem ipsum dolor sit amet consecelit. Asperiores error laudantium accusamus
                   enim aut doloremque perferendis et dolo  -->
                  <br>
                 <span>  
                   res tenetur dolor! Suscipit est error vitae iste ullam ratione eius quibusdam voluptates?
                   <i class="fa fa-quote-right fa-lg"></i>
                 </span>

                </div>  
               
             </div>

             <div class="slided  saul">
                <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}">
                <!-- <img src="assets/img/gallery/gallery-5.jpg" alt=""> -->

                <!-- <h3>  Saul Goodman </h3><br>
                <p> Ceo & Founder </p> -->
            

                <div class=" dolor">

                   <h3>  John Larson </h3><br>
                   <p> Entrepreneur </p>

                <!-- <i class="bx-pull-left bx bxs-quote-alt-left bx-lg"></i> -->

                  <!-- <i class="fa fa-quote-left fa-lg"></i>
                   Lorem ipsum dolor sit amet consecelit. Asperiores error laudantium accusamus
                   enim aut doloremque perferendis et dolo <br>
                  <p> res tenetur dolor! Suscipit est error vitae iste ullam ratione eius quibusdam voluptates?
                    <i class="fa fa-quote-right fa-lg"></i>
                  </p> -->

                  <i class="fa fa-quote-left fa-lg" id="se">
                    Lorem ipsum dolor sit amet consecelit. Asperiores error laudantium accusamus
                    enim aut doloremque perferendis et dolo 
                   </i>
                 
                   <!-- Lorem ipsum dolor sit amet consecelit. Asperiores error laudantium accusamus
                   enim aut doloremque perferendis et dolo  -->
                  <br>
                 <span>  
                   res tenetur dolor! Suscipit est error vitae iste ullam ratione eius quibusdam voluptates?
                   <i class="fa fa-quote-right fa-lg"></i>
                 </span>

                </div>  
               
             </div>

             <div class="navigation-auto">
                  <div class="auto-btn1"></div>
                  <div class="auto-btn2"></div>
                  <div class="auto-btn3"></div>
                  <div class="auto-btn4"></div>
                  <div class="auto-btn5"></div>
             </div>

             <div class="navigation-manual">
                  <label for="radio1" class="manual-btn"></label>
                  <label for="radio2" class="manual-btn"></label>
                  <label for="radio3" class="manual-btn"></label>
                  <label for="radio4" class="manual-btn"></label>
                  <label for="radio5" class="manual-btn"></label>
             </div>
         </div>

         <!-- <a href="#myCarousel" data-slide="prev" class="left carousel-control">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
         </a>

         <a href="#myCarousel" data-slide="next" class="right carousel-control">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
         </a> -->

         <!-- <a href="#" class="prev" onclick="plusSlides(-1)">&#10094;</a>
         <a href="#" class="next" onclick="plusSlides(1)">&#10095;</a> -->

         <!-- <div style="text-align: center;">
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
         </div> -->

        </div>
      </section>

      </section>  

      <section id="TEAM">
        <div class="section9">
          <div class="subsection9">
            <div class="teams">
                <b>TEAM</b> <br>
               <p> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem 
                inventore mi Eaque earum natus beatae ducimus accusantium reiciendi
                 </p>
               <div class="hfj">
                 rerum optio?  vsgxxbvvgghhhhhhh , usgxbhhsjshhghg uhdgbvb,jhhhhnnm
                hfjhfhhf, jncjjdiockjn hyudsn </div>
            </div>

         <div class="fleximg">

           <div class="bximg1">

            <div class="imgall">
                <img src="{% static 'assets/img/team/team-1.jpg' %}">
            </div>

            <ul class="socialicon">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" ></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" ></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" ></i></a></li>
            </ul>

            <div class="intro">
                <b >Walter White</b>
                <p >Chief Executive Officer</p>
            </div>

            </div> 

          <div class="bximg2">  

            <div>
                <img src="{% static 'assets/img/team/team-2.jpg' %}">
            </div>

            <ul class="socialicon">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" ></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" ></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" ></i></a></li>
            </ul>

            <div class="intro">
                <b>Sarah Jhonson</b>
                <p>Product Manager</p>
            </div>

          </div> 

          <div class="bximg3">

            <div>
                <img src="{% static 'assets/img/team/team-3.jpg' %}">
            </div>

            <ul class="socialicon">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" ></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" ></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" ></i></a></li>
            </ul>

            <div class="intro">
                <b>William Anderson</b>
                <p>CTO</p>
            </div>

          </div>

          <div class="bximg4">

            <div>
                <img src="{% static 'assets/img/team/team-4.jpg' %}">
            </div>

            <ul class="socialicon">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" ></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" ></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" ></i></a></li>
            </ul>

            <div class="intro">
                <b>Amanda Jepson</b>
                <p>Accountant</p>
            </div> 

          </div>

         </div>
          
          </div>   
        </div>
      </section>

      <section>
      
        <div class="section10">

            <div class="gallery">
                <b>GALLERY</b> <br>
              <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem autem impedit explicabo error
                 quis magni repellat architecto qui veniam ullam?  </p>
               <span>
                cidunt assumenda similique natus eos odit nam. </span>
            </div>

         <div class="first4gallery">
            
            <div class="gallery1">
                <img src="{% static 'assets/img/gallery/gallery-1.jpg' %}">
            </div>

            <div class="gallery2">
                <img src="{% static 'assets/img/gallery/gallery-2.jpg' %}">
            </div>

            <div class="gallery3">
                <img src="{% static 'assets/img/gallery/gallery-3.jpg' %}">
            </div>

            <div class="gallery4">
                <img src="{% static 'assets/img/gallery/gallery-4.jpg' %}">
            </div>

        </div> 

        <div class="second4gallery">

            <div class="gallery1">
                <img src="{% static 'assets/img/gallery/gallery-5.jpg' %}">
            </div>

            <div class="gallery2">
                <img src="{% static 'assets/img/gallery/gallery-6.jpg' %}">
            </div>

            <div class="gallery3">
                <img src="{% static 'assets/img/gallery/gallery-7.jpg' %}">
            </div>

            <div class="gallery4">
                <img src="{% static 'assets/img/gallery/gallery-8.jpg' %}">
            </div>

        </div> 
        
        </div>
      </section>
    
    
      <section id="CONTACT">

        <div class="subsection10">

            <div class="contact">
                <b>CONTACT</b> <br>
              <p> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorem qui 
                assumenda, quod inventore tempore perspiciatis doloremque.</p>
              <span>
                 Consectetur laboriosam
                 voluptatibus in inventore 
                ea ratione hic, ipsum expedita dolores eligendi! </span>
            </div>

            <div>
              <iframe style="border:0; width: 100%; height: 270px; margin-bottom: 30px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
            </div>

          <div class="location"> 

            <div class="forhover"> 
               <div class="psycho"> <i class="bi bi-geo-alt"></i> </div>
                <b>Location:</b> <br>
              <p> A108 Adam Street, New York, NY 535022 </p>
            </div>

            <div>
                <input type="text" class="name" placeholder="Your Name" required>
            </div>

            <div>
                <input type="text" class="email" placeholder="Your Email" required>
            </div>

          </div>   

        <div class="locationmail">

            <div class="forhover">
              <div class="psycho2"> 
                <i class="bi bi-envelope"></i>
              </div>  
                <b>Email:</b> <br>
               <p> info@example.com </p>
            </div>

            <div class="Subjecttext">
                <input type="text" class="textsubject" placeholder="Subject" required="">
            </div>
        </div>    

        <div class="locationcall">

            <div class="forhover">
               <div class="psycho3"><i class="bi bi-phone"></i></div> 
                <b>Call:</b> <br>
              <p>  +1 5589 55488 55s</p>
            </div>

            <div>
                <textarea name="" id="Message" placeholder="Message" cols="30" rows="10" required></textarea>
            </div>

        </div>   
             
            <div class="sub">
                <input type="submit" class="submission" value="Send Message"  >
            </div>

        </div>
        
      </section>
    </main>

                             
    <footer>
        <div class="section11">

            <div class="newsletter">
                <b>Join Our Newsletter</b> 
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque </p>
            </div>

            <div class="newstext">
                <input type="text" class="textown" >
            <!-- </div> -->

            <!-- <div> -->
               <a href="#"> <input type="submit" value="subscribe" class="submitown"> </a>
            </div>
        </div>
        


        <section>
         <div class="section12">

            <div class="Butterfly">
               <b> Butterfly </b>
              <p>
                A108 Adam Street <br>
                New York, NY 535022 <br>
                United States
              </p> 

               <p>
                   <b>Phone:</b>  <span>+1 5589 55488 55 </span> <br>
                  <b> Email:  </b> <span> info@example.com </span>
               </p>  
                
            </div>

            <div class="usefullinks">
               <b>Useful Links</b>
             <ul>
              <li> <a href="#"> <span> > </span> Home </a> </li>  <br>
              <li> <a href="#"> <span> > </span> About Us</a> </li> <br>
              <li> <a href="#"> <span> > </span>Services</a></li> <br>
              <li> <a href="#"><span> > </span> Terms of Services</a></li>  <br>
              <li> <a href="#"><span> > </span> Privacy Policy</a> </li> <br>
             </ul>  
            </div>
            
            <div class="usefullink">
                <b>Our Services</b> 
             <ul>
               <li> <a href="#"> <span> > </span>Web Design</a> </li> <br>
               <li> <a href="#"> <span> > </span>Web Development</a> </li> <br>
               <li> <a href="#"> <span> > </span>Product Management</a> </li> <br>
               <li> <a href="#"> <span> > </span>Marketing</a> </li> <br>
               <li> <a href="#"> <span> > </span>Graphics Design</a> </li>  <br>
             </ul>   
            </div>

            <div class="oursocial">                       
                <b>Our Social Networks</b> 
              <p>  Lorem ipsum dolor sit amet  <br> consectetur adipisicing elit. </p>

              <ul class="networks">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" ></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" ></i></a></li>
               <li> <a href="#"><i class="bx bxl-skype"></i></a> </li>
                <li><a href="#"><i class="fa fa-linkedin" ></i></a></li>
            </ul>
            </div>
            
        </div>
       </section>

       <section class="section11">
         <div class="copyright">
        &copy; Copyright <strong><span>Butterfly</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
       </section>

      </footer> 
    

    <script src="{% static 'Js/bootstrap.min.css' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="{% static 'assets/js/glightbox.min.js' %}"></script>
    <script src="{% static '/assets/js/index.js' %}"></script>
</body>
</html>